%h1
  Проекты

  - @works.each do |work|
    %hr.featurette-divider
    .featurette
      %img.featurette-image.pull-right{:src => "../assets/img/examples/browser-icon-chrome.png"}
      %h2.featurette-heading
        =work.title
        %span.muted 
          =work.client.title
      %p.lead= work.describe

%br

= link_to 'New work', new_work_path
